<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">RTChat</li>
      <!--<li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>-->
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><button (click)="login()" *ngIf="!(user | async)?.uid"class="button">Login/Register</button></li>
      <li><button (click)="logout()" *ngIf="(user | async)?.uid" class="button">Logout</button></li>
    </ul>
  </div>
</div>

<div class="row columns">
  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="Message" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
  <div id="details-container" *ngIf="(user | async)?.uid">
      <p *ngFor="let item of items | async">{{item.message}}</p>
  </div>
</div>